{% load i18n %}
{% blocktrans %}Bonjour {{ user.get_full_name|default:username }},{% endblocktrans %}

{% trans "Tu as demandé à réinitialiser ton mot de passe pour Numeria Institute." %}
{% trans "Clique sur le lien ci-dessous pour choisir un nouveau mot de passe :" %}

{{ protocol }}://{{ domain }}{% url 'comptes:password_reset_confirm' uidb64=uid token=token %}

{% trans "Si tu n'as pas fait cette demande, ignore simplement ce message." %}

{% trans "À bientôt,\nL'équipe Numeria Institute" %}
